   .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
   }

.swiper {
        width: 100%;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
   }

   .swiper-slide {
        background-size: cover;
        background-position: center;
   }

   .mySwiper2 {
        height: 80%;
        width: 100%;
   }

   .mySwiper {
        height: 20%;
        box-sizing: border-box;
        padding: 10px 0;
   }

   .mySwiper .swiper-slide {
        width: 25%;
        height: 100%;
        opacity: 0.4;
   }

   .mySwiper .swiper-slide-thumb-active {
        opacity: 1;
   }

   .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
   }

   /* Move pagination to the bottom */
   .swiper-pagination {
        position: absolute;
        /* bottom: '100px'; */
        z-index: 2;
        /* transform: translateX(-50%); */
   }

   /* Optional: Adjust size or spacing */
   .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        margin: 0 6px;
        background-color: #D9D9D9 !important;
        border: 0px !important;
        /* Adjust bullet spacing */
   }

   .swiper-pagination-bullet-active {
        background-color: #9C90C2 !important;
        /* Change active bullet color (e.g., red) */
        /* Full opacity for active bullet */
   }